      .twentyfour td,.twentyfour th{
        text-align:center;width:25px;height:25px;

      white-space:nowrap;cursor:pointer}
      .twentyfour td.active{
               background-color: #357ebd;
               border-color: #3071a9;
               color: #fff;
 
      }
      .twentyfour td.day  {
               background-color: #357ebd;
               border-color: #3071a9;
               color: #fff;
               font-size:10px;
      }
      .twentyfour th.hourheader {
               background-color: #357ebd;
               border-color: #3071a9;
               color: #fff;
               font-size:10px;
      }
      .twentyfour th.total {
               background-color: #357ebd;
               border-color: #3071a9;
               color: #fff;
               font-size:10px;
      }
     
     
      .twentyfour table{
      }
