      .twentyfourseven td,.twentyfourseven th{
        text-align:center;width:25px;height:25px;

      white-space:nowrap;cursor:pointer}
      .twentyfourseven td.active{
               background-color: #357ebd;
               border-color: #3071a9;
               color: #fff;
 
      }
      .twentyfourseven td.day  {
               background-color: #357ebd;
               border-color: #3071a9;
               color: #fff;
               font-size:10px;
      }
      .twentyfourseven th.hourheader {
               background-color: #357ebd;
               border-color: #3071a9;
               color: #fff;
               font-size:10px;
      }
      .twentyfourseven th.total {
               background-color: #357ebd;
               border-color: #3071a9;
               color: #fff;
               font-size:10px;
      }
     
     
      .twentyfourseven table{
      }
